#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  width: auto;
  background-color: gainsboro;
  padding: 8px 20px;
}

.pianoKey {
  height: 25px;
  width: 15px;
  cursor: pointer;
}

.blackKey {
  background-color: black;
  position: relative;
  top: -3px;
}

.whiteKey {
  background-color: white;
  border: 1px solid black;
  width: 17px;
  height: 38px;
}
